:root {
  --primary-color: #ff226f;
  --primary-color-dark: #fe6769;
  --text-dark: #333333;
  --white: #ffffff;
}
*{
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-image: url(../assets/bg.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}
  h2{
    text-align: center;
    font-size: 35px;
    color: rgb(41, 21, 21)
}
h3{
  text-align: center;
    font-size: 20px;
    color: rgb(41, 21, 21)
}
p {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  padding-left: 10%;
  padding-right: 10%;
}
#navbar{
  background: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 15px;
}
nav a:hover {
  color: yellow;
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a{
  font-size: 35px;
  font-weight: 600px;
  color: white;
}
li{
  list-style: none;
  display: inline-block;
  margin-bottom: 10px;
}
li a{
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-right: 25px;
}
button{
  background-color: rgb(29, 210, 255);
  margin-left: 5px;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}
button a{
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
@media only screen and (min-width: 480px) {
  .logo a {
    font-size: 50px;
  }

  li {
    display: inline-block;
    margin-bottom: 0;
  }

  li a {
    margin-right: 25px;
  }

  button {
    width: auto;
    margin-top: 0;
  }
}
@media only screen and (min-width: 1368px) {
  .logo a {
    font-size: 60px;
  }

  li a {
    font-size: 20px;
  }
}
.service {
  position: relative;
  overflow: hidden;
  margin: 20px; 
}
.service p {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-bottom: 30px;
}


.container {
  text-align: center;
  background: url('../assets/Cachorros-1.jpg') center center/cover no-repeat; 
  color: #fff; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h3,
.container p {
  color: white; 
  text-shadow: 1px 3px 2px rgb(120, 29, 1);
}

form {
  max-width: 400px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
@media only screen and (max-width: 768px) {
  form {
    max-width: 100%; 
  }
}

@media only screen and (max-width: 480px) {
  input,
  select {
    width: calc(100% - 20px); 
  }
}
.all__products{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.product{
	overflow: hidden;
	background: #ffffff;
	color: #21201e;
	text-align: center;
	width: 100%;
  max-width: 240px;
	height: 400px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 2rem;
}

.product .product-title, .product .product-price{
	font-size: 18px;
}

.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 5px 10px 25px #eeeeee;
}

.product img {
  height: auto;
  max-width: 100%;
	margin: 1rem;
	transition: all 0.3s;
}

.product a:hover{
	transform: scale(1.1);
  color: yellow;
}
#navigationMenu {
  text-align: center;
  margin-top: 10px;
}
#navigationMenu button {
  color: #fff;
  background: #a011bd;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 0.4rem;
  cursor: pointer;
  transition: 0.4s;
}

#navigationMenu button:hover {
  background: rgb(50, 42, 138);
}
span{
  color: white;
}
form {
  margin-top: 20px;
}
@media only screen and (max-width: 480px) {
  .product {
    margin: 1rem;
  }
}
.container2 {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}

.container2__left h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--primary-color);
  text-align: center;

}

.container2__left p {
  color: var(--text-dark);
  margin-bottom: 1rem;
  text-align: center;
}

.container2__right {
  display: grid;
  gap: 2rem;
}

.card {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card img {
  max-width: 75px;
  border-radius: 100%;
}

.card__content {
  display: flex;
  gap: 1rem;
}

.card__content span i {
  font-size: 2rem;
  color: var(--primary-color);
}

.card__details p {
  font-style: italic;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.card__details h4 {
  text-align: right;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .container2 {
    gap: 3rem;
  }
}

@media (width < 480px) {
  .container2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .container2__right {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 480px) {
  .container2__right {
    grid-template-columns: repeat(1, 1fr);
  }
}
*{
  font-family: Arial, Helvetica, sans-serif;
}

footer{
  width: 100%;
  background-color: #000;
  padding-bottom: 20px;
}
.container3{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 90%;
  margin: 20px auto 60px;
}
.container3 div h2{
  color: #fbf9fa;
  font-family: sans-serif;
  font-size: 24px;
  padding: 20px 0;
}
.container3 div ul{
  list-style-type: none;
}
.container3 div ul li{
  margin: 16px 0;
  cursor: pointer;
}
.container3 div ul li a{
  font-size: 20px;
  text-decoration: none;
  font-family: sans-serif;
  position: relative;
  left: 0;
  padding: 2px;
  color: #00abb3;

  transition: all 0.4s;
}
.container3 div ul li a:hover{
  left: 8px;
}
@media only screen and (max-width: 767px) {
  .container3 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .container3 div {
    margin-bottom: 20px;
  }

  .container3 div ul li {
    margin: 8px 0;
  }
}

